# IDE
# - PyCharm
.idea/

# Pyton
# - venv
venv/
# - cache
__pycache__/
# - wheels
*.whl

# PyInstaller
*.spec
build/
dist/

# Application
# - custom config
config.yaml
# - generated region masks
*_region_mask.png
